* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  height: 90vh;
  min-height: 800px;
  padding: 40px 2%;
  background-image: url('../images/capa.png');
  background-size: cover;
  background-position: center;
}

header .logo1 {
  float: left;
  width: 160px;
  height: 60px;
  background-image: url('../images/logo.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: -20px 0;
}

header nav {
  float: right;
}

header nav.desktop-menu ul {
  list-style: none;
}

header nav.desktop-menu li {
  float: left;
}

header nav.desktop-menu li a {
  color: white;
  padding: 0 20px;
}

header nav.mobile-menu {
  display: none;
}

.chamada1 {
  max-width: 600px;
  float: right;
  margin: 200px 120px;
}

.chamada1 h2 {
  font-weight: 300;
  font-size: 40px;
  color: white;
}

.chamada1 p {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

section.sessao1 {
  width: 100%;
  height: 400px;
  padding: 0 2%;
  background-color: #472562;
}

section.sessao1 .container {
  max-width: 1000px;
  height: calc(100% + 60px);
}

.texto-sessao1 {
  float: left;
  width: 50%;
  position: relative;
  left: 80px;
  color: white;
  margin-top: 60px;
  padding-left: 80px;
}

.texto-sessao1 h2 {
  font-weight: 300;
  font-size: 26px;
}

.texto-sessao1 p {
  font-size: 15px;
  margin-top: 20px;
}

.texto-sessao1 ul {
  font-size: 15px;
  /* list-style-position: inside; */
  padding-left: 18px;
}

.texto-sessao1 ul li {
  float: left;
  width: 100%;
  margin-top: 8px;
}

.btn1-texto {
  background-color: #FF703D;
  width: 165px;
  height: 45px;
  font-size: 13px;
  color: white;
  border-radius: 40px;
  margin-top: 20px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}

.device-sessao1 {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  top: -60px;
  background-image: url('../images/device.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sessao2 {
  padding: 0 2%;
  background-color: white;
  text-align: center;
}

.sessao2 .container {
  max-width: 1000px;
}

.sessao2 h2 {
  color: #472663;
  font-weight: 300;
}

.sessao2 p {
  margin-top: 30px;
  max-width: 900px;
  display: inline-block;
}

.sessao2 img {
  width: 100%;
  position: relative;
  top: 120px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 47px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 47px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 47px -12px rgba(0,0,0,0.75);
}

.sessao3 {
  width: 100%;
}

.sessao3 .parte1 {
  float: left;
  width: 50%;
  padding: 180px 0 90px 0;  
  background-color: #835FA7;
  color: white;
}

.sessao3 .wrapper-parte1 {
  max-width: 550px;
  float: right;
  padding: 0 30px;
}

.sessao3 .parte1 h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
}

.sessao3 .parte1 p {
  font-size: 16px;
  line-height: 30px;
  margin-top: 10px;
}

.sessao3 .parte2 {
  float: left;
  width: 50%;
  padding: 180px 0 90px 0;  
}

.sessao3 .parte2 .sobre-autor {
  float: left;
  max-width: 550px;
  padding-left: 30px;
}

.sessao3 .parte2 .sobre-autor .titulo-autor {
  float: left;
  width: 100%;
}

.sessao3 .parte2 .sobre-autor .titulo-autor .wrapper-titulo-autor {
  float: left;
}

.sessao3 .parte2 .sobre-autor .titulo-autor .wrapper-titulo-autor h2 {
  color: #232323;
  padding-right: 20px;
  font-weight: 300;
  font-size: 25px;
}

.sessao3 .parte2 .sobre-autor .titulo-autor .wrapper-titulo-autor p {
  color: #232323;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.sessao3 .parte2 .sobre-autor .titulo-autor .img-autor {
  float: left;
  width: 40px;
  height: 40px;
  background-image: url(../images/img-autor.JPG);
  background-position: center;
  background-size: 100% auto;
  position: relative;
  top: 8px;
  border-radius: 20px;
}

.sessao3 .parte2 .texto-autor {
  float: left;
  width: 100%;
  margin-top: 10px;
  line-height: 30px;
}

.sessao3 .parte2 .texto-autor p {
  font-size: 16px;
  color: #232323;
}

.sessao3 .parte2 .slider-bullets {
  float: left;
  width: 100%;
  margin-top: 12px;
  padding-left: 30px;
}

.sessao3 .parte2 .slider-bullets span {
  float: left;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 10px;
  background-color: rgb(195, 195, 195);
  cursor: pointer;
}

.sessao4 {
  background-color: #472563;
  padding: 100px 0;
}

.sessao4 .form {
  float: left;
  width: 50%;
  color: white;
  padding-left: 2%;
}

.sessao4 .form h2 {
  font-size: 23px;
  font-weight: 300;
}

.sessao4 .form p {
  font-size: 15px;
  font-weight: 300;
  max-width: 400px;
  padding-right: 2%;
}

.sessao4 .form form {
  margin-top: 15px;
}

.sessao4 .form input[type=text],
.sessao4 .form input[type=email] {
  width: 90%;
  max-width: 450px;
  height: 55px;
  border: 0;
  border-radius: 4px;
  line-height: 55px;
  margin-top: 10px;
  padding-left: 10px;
}

.sessao4 .form input[type=text]:focus,
.sessao4 .form input[type=email]:focus,
.sessao4 .form textarea:focus,
.sessao4 .form input[type=submit]:focus {
  outline: none;
}

.sessao4 .form textarea {
  width: 90%;
  max-width: 450px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  height: 180px;
  margin-top: 10px;
}

.sessao4 .form input[type=submit] {
  width: 165px;
  height: 55px;
  background-color: #FF703D;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 15px;
  border: 0;
}

.sessao4 .map-wrapper {
  float: left;
  width: 50%;
  padding: 0 2%;
}

.sessao4 .map-wrapper h2 {
  font-size: 23px;
  font-weight: 300;
  color: white;
}

.sessao4 .map-wrapper2 {
  width: 100%;
  padding-top: 100%;
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.sessao4 .map-wrapper3 {
  width: 100%;
  max-width: 480px;
  position: relative;
}

.sessao4 .map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  border: 5px solid rgb(200, 200, 200);
  border-radius: 4px;
}

footer {
  background-color: #192123;
  padding: 40px 2%;
  color: white;
}

footer p:nth-of-type(1) {
  float: left;
  font-size: 14px;
}

footer p:nth-of-type(2) {
  float: right;
  font-size: 14px;
}


@media screen and (max-width: 768px) {

  header {
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 40px 2%;
  }

  header nav.desktop-menu {
    display: none;
  }

  header nav.mobile-menu {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('../images/menu.png');
    background-size: 100% 100%;
    cursor: pointer;
  }

  header nav.mobile-menu ul {
    display: none;
    width: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 80px;
    right: 10px;
    border-radius: 3px;
    list-style-type: none;
    text-align: center;
    transition: 0.5s;
  }

  header nav.mobile-menu:hover ul {
    display: block;
  }

  header nav.mobile-menu ul li {
    border-bottom: 1px solid rgba(0,0,0,0.4);
    padding: 8px 0;
    margin: 0 2%;
    transition: background-color 0.5s;
  }

  header nav.mobile-menu ul li:hover {
    background-color: rgb(230, 230, 230)
  }

  header nav.mobile-menu ul li:last-child {
    border-bottom: 0;
  }

  header nav.mobile-menu a{
    color: black;
  }

  .chamada1 {
    max-width: none;
    width: 100%;
    text-align: center;
    float: none;
    margin: 100px 0;
  }

  .chamada1 h2 {
    font-size: 30px;
    padding: 0 10px;
  }

  .chamada1 p {
    font-size: 13px;
    padding: 0 10px;
  }

  section.sessao1 {
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  .texto-sessao1 {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    position: static;
    float: none;
    display: inline-block;
  }

  .texto-sessao1 ul {
    display: inline-block;
    margin-top: 20px;
  }

  .texto-sessao1 ul li {
    float: none;
    text-align: left;
  }

  .btn1-texto {
    display: inline-block;
  }

  .device-sessao1 {
    display: none;
  }

  .sessao2 {
    margin-top: 40px;
  }

  .sessao4 .container {
    text-align: center;
  }

  .sessao4 .form {
    float: none;
    width: 100%;
    padding-left: 0;
  }

  .sessao4 .form p {
    display: inline-block;
    padding-right: 0;
  }

  .sessao4 .map-wrapper {
    float: none;
    width: 100%;
    margin-top: 40px;
  }
  
  .sessao4 .map-wrapper3 {
    display: inline-block;
    max-width: none;
    width: 80%;
    padding-top: 80%;
  }

  .sessa04 .map-wrapper2 {
    height: 100%;
  }
}

@media screen and (max-width: 580px) {
  .sessao2 img {
    top: 16px;
    margin-top: 20px;
  }
  .sessao3 .parte1 {
    width: 100%;
    padding: 40px 0;
  }

  .sessao3 .parte2 {
    width: 100%;
    padding: 40px 0;
  }

  footer {
    text-align: center;
  }

  footer p:nth-of-type(1) {
    float: none;
  }

  footer p:nth-of-type(2) {
    float: none;
    margin-top: 8px;
  }

}